.filter {
    border: 2px solid darkgray;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 1px;
    padding: 6px 12px;
    &:hover {
        cursor: pointer;
    }
    &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right-width: 1px;
    }
    &--selected {
        background-color: azure;
    }
};
